<section class="table-{{ section.id }}">
	<div class="container">
		<table>
			<thead>
			{% if section.blocks.size > 0 %}
				{% for block in section.blocks limit: 1 %}
					<tr id="table__row--{{ block.id }}" class="table__row" {{ block.shopify_attributes }}>
						<style>
							#table__row--{{ block.id }} th {
								padding-inline: {{- block.settings.padding_inline  -}}px;
								padding-block: {{- block.settings.padding_block  -}}px;
							}

							@media screen and (max-width: 820px) {
								#table__row--{{ block.id }} th {
									padding-inline: {{- block.settings.padding_inline | times: 0.6 -}}px;
									padding-block: {{-  block.settings.padding_block | times: 0.6-}}px;
								}
							}

							@media screen and (max-width: 767px) {
								#table__row--{{ block.id }} th {
									padding-inline: 8px;
									padding-block: 8px;
								}
							}
						</style>
						<th>{{ block.settings.col1 }}</th>
						<th>{{ block.settings.col2 }}</th>
						<th>{{ block.settings.col3 }}</th>
						<th>{{ block.settings.col4 }}</th>
						<th>{{ block.settings.col5 }}</th>
					</tr>
				{% endfor %}
			{% endif %}
			</thead>
			<tbody>
			{% if section.blocks.size > 0 %}
				{% liquid assign blocks_size = section.blocks.size %}
				{% for block in section.blocks offset: 1 %}
					<tr id="table__row--{{ block.id }}" class="table__row" {{ block.shopify_attributes }}>
						<style>
							#table__row--{{ block.id }} td {
								padding-inline: {{- block.settings.padding_inline  -}}px;
								padding-block: {{- block.settings.padding_block  -}}px;
							}

							@media screen and (max-width: 820px) {
								#table__row--{{ block.id }} td {
									padding-inline: {{- block.settings.padding_inline | times: 0.6 -}}px;
									padding-block: {{-  block.settings.padding_block | times: 0.6-}}px;
								}
							}

							@media screen and (max-width: 767px) {
								#table__row--{{ block.id }} td {
									padding-inline: 8px;
									padding-block: 8px;
								}
							}
						</style>
						<td>{{ block.settings.col1 }}</td>
						<td>{{ block.settings.col2 }}</td>
						<td>{{ block.settings.col3 }}</td>
						<td>{{ block.settings.col4 }}</td>
						<td>{{ block.settings.col5 }}</td>
					</tr>
				{% endfor %}
			{% endif %}
			</tbody>
		</table>
	</div>
</section>
<style>
	.table-{{  section.id }} {
		padding: 40px 0;
	}

	.table-{{  section.id }} table {
		width: 100%;
		border: none;
		box-shadow: 0 0 0;
	}

	.table-{{  section.id }} table td {
		background: {{- section.settings.color_cell_bg | default: '#fffcf4' -}};
		color: {{- section.settings.color_cell_text | default: '#294029' -}};
	}

	.table-{{  section.id }} table thead th,
	.table-{{  section.id }} table tbody tr td:first-child {
		background: {{- section.settings.color_cell_bg | default: '#fffcf4' -}};
		color: {{- section.settings.color_th_text | default: '#4B5058' -}};
	}
</style>
{% schema %}
{
  "name": "Table",
  "class": "table-section",
  "settings": [
    {
      "type": "header",
      "content": "Table styles"
    },
    {
      "type": "color",
      "id": "color_cell_bg",
      "label": "Table background color",
      "default": "#fffcf4"
    },
    {
      "type": "color",
      "id": "color_cell_text",
      "label": "Table text color",
      "default": "#294029"
    },
    {
      "type": "color",
      "id": "color_th",
      "label": "Table Heading background color",
      "default": "#4B5058"
    },
    {
      "type": "color",
      "id": "color_th_text",
      "label": "Table Heading text color",
      "default": "#294029"
    }
  ],
  "blocks": [
    {
      "type": "rows",
      "name": "Row",
      "settings": [
        {
          "type": "richtext",
          "id": "col1",
          "label": "Column 1"
        },
        {
          "type": "richtext",
          "id": "col2",
          "label": "Column 2"
        },
        {
          "type": "richtext",
          "id": "col3",
          "label": "Column 3"
        },
        {
          "type": "richtext",
          "id": "col4",
          "label": "Column 4"
        },
        {
          "type": "richtext",
          "id": "col5",
          "label": "Column 5"
        },
        {
          "type": "range",
          "id": "padding_inline",
          "label": "Row inline padding",
          "unit": "px",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 24
        },
        {
          "type": "range",
          "id": "padding_block",
          "label": "Row block padding",
          "unit": "px",
          "min": 0,
          "max": 120,
          "step": 2,
          "default": 32
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Table",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}